<div class="row status-list">
  <div class="col-sm per-status">
    <a class='sig-links' href="/mainPage/<%= site %>/allOrders/AllOrders">All Orders</a>
  </div>
  <div class="col-sm per-status col-printed">
    <a class='sig-links' href="/mainPage/<%= site %>/allOrders/Printed">Printed</a>
  </div>
  <div class="col-sm per-status col-east">
    <a class='sig-links' href="/mainPage/<%= site %>/allOrders/West">West</a>
  </div>
  <div class="col-sm per-status col-west">
    <a class='sig-links' href="/mainPage/<%= site %>/allOrders/East">East</a>
  </div>
  <div class="col-sm per-status col-parts">
    <a class='sig-links' href="/mainPage/<%= site %>/allOrders/Parts">Parts</a>
  </div>
  <div class="col-sm per-status col-quarantine">
    <a class='sig-links' href="/mainPage/<%= site %>/allOrders/Other">Other</a>
  </div>
  <div class="col-sm per-status col-shipped">
    <a class='sig-links' href="/mainPage/<%= site %>/allOrders/Shipped">Shipped</a>
  </div>
  <div class="col-sm per-status col-invoiced">
    <a class='sig-links' href="/mainPage/<%= site %>/allOrders/Invoiced">Invoiced</a>
  </div>
  <div class="col-sm col-archived" style="padding: 10px; text-align: center;">
    <a class='sig-links' href="/mainPage/<%= site %>/allOrders/Archived">Archived</a>
  </div>
</div>


