<!-- displays table for searched on all three locations -->

<%- include("./partials/head.ejs") %>

<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<br />
<br />

 <!-- ********************* Search bar ********************** -->

<script>
  // code only runs once the page DOM is ready for js to execute
  $(document).ready(function () {
    // When the dropdown menu is clicked
    $(".default_option").click(function (event) {
      // Adds the class name "active" to he .dropdown ul class
      $(".dropdown ul").addClass("active");
      event.stopPropagation();
    });

    // If you click on one of the dropdown options
    $(".dropdown ul li").click(function (event) {
      var text = $(this).text(); //save text from option selected into a text var
      $(".default_option").text(text); //change the button's text to be the text that was just clicked
      $(".dropdown ul").removeClass("active"); // dropdown is no longer active aka options are shown
      event.stopPropagation();
    });

    // If you click outside of the dropdown while dropdown is active close dropdown
    $(document).on("click", function (event) {
      $(".dropdown ul").removeClass("active");
    });
  });
</script>

<script>
  // As soon as page is loaded call the load function
  window.onload = function () {
    load();
  };
</script>

<!-- Searchbar -->
<div class="wrapper">
  <div class="search_box">
    <div class="dropdown">
      <div class="default_option">All</div>
      <ul>
        <li>All</li>
        <li>Order#</li>
        <li>PO#</li>
        <li>Shipping Address</li>
        <li>Shipping Carrier</li>
        <li>Date</li>
        <li>Status</li>
      </ul>
    </div>
    <div class="search_field">
      <input
        type="text"
        class="input"
        id="myInput"
        onkeyup="searchTable(event)"
        placeholder="Search"
      />
      <i class="fas fa-search" onclick="searchTable(event)"></i>
    </div>
  </div>
</div>


 <!-- ********************* Display tables for results from all three locations ********************** -->

<!-- MARKHAM -->
<table
  class="table-search table-center"
  id="table-mar"
  style="display: none; width: 100%"
>
  <h5 style="color: rgb(136, 0, 0); display: none" id="mar-title">Markham</h5>
  <thead>
    <th>Order #</th>
    <th>PO #</th>
    <th>Ship To</th>
    <th>Via</th>
    <th>Date Received</th>
    <th>Status</th>
  </thead>
  <tbody id="mainList-mar">
    <% if (marList.length != 0) { %> <% marList.forEach((order)=>{ %>

    <tr>
      <td class="sig-order">
        <a class="sig-links" href="/orders/<%= order._id %>"
          ><%= order._id %></a
        >
      </td>
      <td><%= order["PO"] %></td>
      <td><%= order["shipTo"] %></td>
      <td><%= order["via"] %></td>
      <td>
        <%= order["dateReceived"].toUTCString().slice(4,
        order["dateReceived"].toUTCString().indexOf("GMT")) %>
      </td>
      <td>
        <%= order["status"] %> <%- include("./partials/searchStaged.ejs",
        {lst_status: marStat, order}) %>
      </td>
    </tr>

    <% }) %> <% } else { %>
    <tr>
      <td>NO</td>
      <td>ORDERS</td>
      <td>FOUND</td>
    </tr>
    <% } %>
  </tbody>
</table>

<!-- SURREY -->
<table
  class="table-search table-center"
  id="table-surr"
  style="display: none; width: 100%"
>
  <h5 style="color: rgb(136, 0, 0); display: none" id="surr-title">Surrey</h5>

  <thead>
    <th>Order #</th>
    <th>PO #</th>
    <th>Ship To</th>
    <th>Via</th>
    <th>Date Received</th>
    <th>Status</th>
  </thead>
  <tbody id="mainList-surr">
    <% if (surrList.length != 0) { %> <% surrList.forEach((order)=>{ %>

    <tr>
      <td class="sig-order">
        <a class="sig-links" href="/orders/<%= order._id %>"
          ><%= order._id %></a
        >
      </td>
      <td><%= order["PO"] %></td>
      <td><%= order["shipTo"] %></td>
      <td><%= order["via"] %></td>
      <td>
        <%= order["dateReceived"].toUTCString().slice(4,
        order["dateReceived"].toUTCString().indexOf("GMT")) %>
      </td>
      <td>
        <%= order["status"] %> <%- include("./partials/searchStaged.ejs",
        {lst_status: surrStat, order}) %>
      </td>
    </tr>

    <% }) %> <% } else { %>
    <tr>
      <td>NO</td>
      <td>ORDERS</td>
      <td>FOUND</td>
    </tr>
    <% } %>
  </tbody>
</table>

<!-- GLENVIEW -->
<table
  class="table-search table-center"
  id="table-glen"
  style="display: none; width: 100%"
>
  <h5 style="color: rgb(136, 0, 0); display: none" id="glen-title">Glenview</h5>

  <thead>
    <th>Order #</th>
    <th>PO #</th>
    <th>Ship To</th>
    <th>Via</th>
    <th>Date Received</th>
    <th>Status</th>
  </thead>
  <tbody id="mainList-glen">
    <% if (glenList.length != 0) { %> <% glenList.forEach((order)=>{ %>

    <tr>
      <td class="sig-order">
        <a class="sig-links" href="/orders/<%= order._id %>"
          ><%= order._id %></a
        >
      </td>
      <td><%= order["PO"] %></td>
      <td><%= order["shipTo"] %></td>
      <td><%= order["via"] %></td>
      <td>
        <%= order["dateReceived"].toUTCString().slice(4,
        order["dateReceived"].toUTCString().indexOf("GMT")) %>
      </td>
      <td>
        <%= order["status"] %> <%- include("./partials/searchStaged.ejs",
        {lst_status: glenStat, order}) %>
      </td>
    </tr>

    <% }) %> <% } else { %>
    <tr>
      <td>NO</td>
      <td>ORDERS</td>
      <td>FOUND</td>
    </tr>
    <% } %>
  </tbody>
</table>

<script>
    // load () gets information from url and uses it to update search bar display
    // this function is only called when searching for the first time
  function load() {
      // get information from url
      let words = window.location.href.replaceAll("%20", " ").split(/[/=]/); // splits up the url into an array of three elements: domain name, search, and filter

      // take information from url to update search bar display
    $(".default_option").text(words[words.length - 1]); // changes the selected option in dropdown to the filter (last element in "words")
    let input = words[words.length - 2]; // changes input value displayed in search bar
    document.getElementById("myInput").value = input;
    var target = input.toLowerCase();
    var filter = words[words.length - 1];

    loadTable(target,filter,true);
  }

  // gets information from search bar inputs
  // continuing to search on the same page
  function searchTable(e) {
    let input = document.getElementById("myInput");
    var target = input.value.toLowerCase();
    let filter = $(".default_option").text();

    let code = e.keyCode ? e.keyCode : e.which;
    loadTable(target,filter,(input.value.length > 0 && (code == 13 || e.button == 0)))
  }

  // loadTable() displays table with results based on the filter and search
  function loadTable(target,filter,search){
    let tableMar = document.getElementById("table-mar");
    let tableSurr = document.getElementById("table-surr");
    let tableGlen = document.getElementById("table-glen");

    let mainMar = document.getElementById("mainList-mar");
    let mainSurr = document.getElementById("mainList-surr");
    let mainGlen = document.getElementById("mainList-glen");

    let martitle = document.getElementById("mar-title");
    let surrtitle = document.getElementById("surr-title");
    let glentitle = document.getElementById("glen-title");

    tableMar.style.display = "";
    tableSurr.style.display = "";
    tableGlen.style.display = "";

    martitle.style.display = "";
    surrtitle.style.display = "";
    glentitle.style.display = "";

    var dropdownOptions = new Array("All","Order#","PO#","Shipping Address","Shipping Carrier","Date","Status");

    // deciding what results to display based on filter
    // goes through each row in database and decides if it meets criteria of filter
    if(search){
    [mainMar, mainSurr, mainGlen].forEach((main) => {
      for (let i = 0; i < main.rows.length; i++) {
        var dropdownChoice = new Array(6);
        for(let j = 1; j < dropdownOptions.length; j++){
            if(filter === dropdownOptions[j] || filter === dropdownOptions[0]){
                dropdownChoice[j-1] = main.rows[i].cells[j-1].textContent.toLowerCase().indexOf(target);
            }
        }
        if (dropdownChoice[0] > -1 || dropdownChoice[1] > -1 || dropdownChoice[2] > -1 || dropdownChoice[3] > -1 || dropdownChoice[4] > -1 || dropdownChoice[5] > -1 ) {
          main.rows[i].style.display = "";
        } else {
          main.rows[i].style.display = "none";
        }
      }
    });
  }
}
</script>

<%- include("./partials/foot.ejs") %>
