<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Signode Picktickets | <%= title %></title>
    </head>

    <!-- IMPORTS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles-main-search.css" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://kit.fontawesome.com/065b6a01b6.js"></script>

    
    <!-- ********************* SEARCH BAR LOGIC ********************** -->
    
    <script>
      $(document).ready(function(){ // makes the function available after the document is loaded
          
          // DROPDOWN EVENT HANDLING

          // when the default dropdown button is clicked, display all dropdown options 
          $(".dropdown, .fa-solid").click(function(event){
                $(".dropdown-options ul").addClass("active");
                event.stopPropagation();
            });

            // when any of the dropdown options are clicked, set the text to be that option and hide dropdown
            $(".dropdown-options ul li").click(function(event){
                var text = $(this).text();
                $(".default-option").text(text);
                $(".dropdown-options ul").removeClass("active");
                event.stopPropagation();
            });

            $(document).on("click", function (event) {
                $(".dropdown-options ul").removeClass("active");
            });
      
      });
  </script> 


  <!-- ******************************* NAVIGATION BAR ************************************** -->

  <!-- <div class="reset-this"> -->
    <div class="navigation-bar">
        <a class="back-button" href="javascript:history.back()"><strong>&#8249;</strong></a>
        <a href="/" class = "home"><i class="fa fa-fw fa-home"></i></a> 
    </div> 
  <!-- </div> -->


  <div class="container-fluid">

  <!-- header -->
  <br><br><br><br><br><br>
  <h1>Search all locations</h1>



  <!-- ******************************* SEARCH BAR ************************************** -->
  <div class="wrapper">
    <div class="search-box">
        
        <!-- search icon -->
        <div><i class="fas fa-search"></i></div>

        <!-- dropdown -->
        <div class="dropdown">
            <div class="default-option">Search by...</div>
            
            <!-- dropdown icon -->
            <i class="fa-solid fa-caret-down"></i>
        </div>

        <!-- search field -->
        <div class="search-field">
            <input type="text" class="input" id="myInput" onkeyup="searchTable(event)" placeholder="Search all locations">
        </div>

        <!-- search button -->
        <div class="search-button-wrapper">
            <button type="button" class="search-button" onclick="searchTable(event)">Search</button>
        </div>

    </div>

    <!-- dropdown options -->
    <div class="dropdown-options">
        <ul>
            <li>Active orders</li>
            <li>Archived orders</li>
        </ul>
    </div>

</div><br><br><br>



  <!-- ********************* LOAD TABLES WITH RESULTS FROM ALL THREE LOCATIONS ********************** -->

  <!-- MARKHAM -->
  <table
      id="table-mar"
      style="display: none; width: 100%"
      class="table table-sortable"
  >
  
      <h3 style="display: none" id="mar-title">Markham</h5>
      
      <!-- table headers -->
      <thead>
          <th style="vertical-align: middle">Order Number</th>
          <th style="vertical-align: middle">PO Number</th>
          <th style="vertical-align: middle">Shipping Address</th>
          <th style="vertical-align: middle">Shipping Carrier</th>
          <th style="vertical-align: middle">Date Received</th>
          <th style="vertical-align: middle">Status</th>
      </thead>

      <!-- table content -->
      <tbody id="mainList-mar">
          <% if (marList.length != 0) { %> 
              <% marList.forEach((order)=>{ %>

              <tr>
                  <td class='sig-order' style="vertical-align: middle">
                      <a class='sig-links' href="/orders/<%= order._id %>"><%= order._id %></a>
                  </td>
                  <td style="vertical-align: middle"><%= order["PO"] %></td>
                  <td style="vertical-align: middle"><%= order["shipTo"] %></td>
                  <td style="vertical-align: middle"><%= order["via"] %></td>
                  <td style="vertical-align: middle">
                      <%= order["dateReceived"].toUTCString().slice(4,
                      order["dateReceived"].toUTCString().indexOf("GMT")) %>
                  </td>
                  <td style="vertical-align: middle">
                      <%= order["status"] %> <%-
                      include("./partials/searchStaged.ejs", {lst_status: marStat,
                      order}) %>
                  </td>
              </tr>

          <% }) %> <% } %>
              
      </tbody>
  </table>
  <br><br><br><br>


  <!-- SURREY -->
  <table
  id="table-surr"
  style="display: none; width: 100%"
  >

  <h3 style="display: none" id="surr-title">Surrey</h5>

  <!-- table headers -->
  <thead>
      <th>Order Number</th>
      <th>PO Number</th>
      <th>Shipping Address</th>
      <th>Shipping Carrier</th>
      <th>Date Received</th>
      <th>Status</th>
  </thead>

  <!-- table content -->
  <tbody id="mainList-surr">
      <% if (surrList.length != 0) { %> 
          <% surrList.forEach((order)=>{ %>

          <tr>
              <td>
                <a class='sig-links' href="/orders/<%= order._id %>"><%= order._id %></a>
              </td>
              <td><%= order["PO"] %></td>
              <td><%= order["shipTo"] %></td>
              <td><%= order["via"] %></td>
              <td>
                  <%= order["dateReceived"].toUTCString().slice(4,
                  order["dateReceived"].toUTCString().indexOf("GMT")) %>
              </td>
              <td>
                  <%= order["status"] %> <%-
                  include("./partials/searchStaged.ejs", {lst_status: surrStat,
                  order}) %>
              </td>
          </tr>

      <% }) %> <% } %>
          
  </tbody>
  </table> 
  <br><br><br><br>


  <!-- GLENVIEW -->
  <table
  id="table-glen"
  style="display: none; width: 100%"
  >

  <h3 style="display: none" id="glen-title">Glenview</h5>

  <!-- table headers -->
  <thead>
      <th>Order Number</th>
      <th>PO Number</th>
      <th>Shipping Address</th>
      <th>Shipping Carrier</th>
      <th>Date Received</th>
      <th>Status</th>
  </thead>

  <!-- table content -->
  <tbody id="mainList-glen">
      <% if (glenList.length != 0) { %> 
          <% glenList.forEach((order)=>{ %>

          <tr>
              <td>
                <a class='sig-links' href="/orders/<%= order._id %>"><%= order._id %></a>
              </td>
              <td><%= order["PO"] %></td>
              <td><%= order["shipTo"] %></td>
              <td><%= order["via"] %></td>
              <td>
                  <%= order["dateReceived"].toUTCString().slice(4,
                  order["dateReceived"].toUTCString().indexOf("GMT")) %>
              </td>
              <td>
                  <%= order["status"] %> <%-
                  include("./partials/searchStaged.ejs", {lst_status: glenStat,
                  order}) %>
              </td>
          </tr>

      <% }) %> <% } %>
          
  </tbody>
  </table>
  <br><br><br><br><br><br>

  </div>

  <%- include("./partials/footer.ejs") %>


  <!-- ******************************* LOGIC FOR DISPLAYING DATA ************************************** -->
  <!-- high level logic: retrieve tables for the results, but keep them hidden until the page is loaded  -->


  <script>
      // once the page is loaded, display tables
      window.onload = function () {
          let words = window.location.href
              .replaceAll("%20", " ")
              .split(/[/=]/); // splits up the url into an array of three elements: domain name, search, and filter

          let filter = words[words.length - 1];
          let target = words[words.length - 2];

          document.getElementById("myInput").value = target;
          $(".default-option").text(
              filter === "Search by..." ? "Active orders" : filter
          ); // changes the selected option in dropdown to the filter (last element in "words" array)

          let tableMar = document.getElementById("table-mar");
          let tableSurr = document.getElementById("table-surr");
          let tableGlen = document.getElementById("table-glen");

          let mainMar = document.getElementById("mainList-mar");
          let mainSurr = document.getElementById("mainList-surr");
          let mainGlen = document.getElementById("mainList-glen");

          let martitle = document.getElementById("mar-title");
          let surrtitle = document.getElementById("surr-title");
          let glentitle = document.getElementById("glen-title");

          tableMar.style.display = "";
          tableSurr.style.display = "";
          tableGlen.style.display = "";

          martitle.style.display = "";
          surrtitle.style.display = "";
          glentitle.style.display = "";

          [mainMar, mainSurr, mainGlen].forEach((main) => {
              for (let i = 0; i < main.rows.length; i++) {
                  let order = main.rows[i].cells[0].textContent
                      .toLowerCase()
                      .indexOf(target);
                  let po = main.rows[i].cells[1].textContent
                      .toLowerCase()
                      .indexOf(target);
                  let shipTo = main.rows[i].cells[2].textContent
                      .toLowerCase()
                      .indexOf(target);
                  let via = main.rows[i].cells[3].textContent
                      .toLowerCase()
                      .indexOf(target);
                  let date = main.rows[i].cells[4].textContent
                      .toLowerCase()
                      .indexOf(target);
                  let status = main.rows[i].cells[5].textContent
                      .toLowerCase()
                      .indexOf(target);
                  if (
                      order > -1 ||
                      po > -1 ||
                      shipTo > -1 ||
                      via > -1 ||
                      date > -1 ||
                      status > -1
                  ) {
                      main.rows[i].style.display = "";
                  } else {
                      main.rows[i].style.display = "none";
                  }
              }
          });
      };

      // gets information from search bar inputs
      // continuing to search on the same page
      function replaceTable(e) {
          let input = document.getElementById("myInput");
          let filter = $(".default-option").text();

          let code = e.keyCode ? e.keyCode : e.which;
          if (input.value.length > 0 && (code == 13 || e.button == 0)) {
              window.location.replace("/" + input.value + "=" + filter);
          }
      }
  </script>

</html>
