<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIG-CI | <%= title %></title>
</head>
<body>
    
    <!-- IMPORTS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles-order-details.css"/>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script> 
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


    <!-- ******************************* NAVIGATION BAR ************************************** -->

    <div class="navigation-bar">
        <a class="back-button" href="javascript:history.back()"><strong>&#8249;</strong></a>
        <a href="/" class = "home"><i class="fa fa-fw fa-home"></i></a> 
    </div> 

    <div class="container-fluid">
    <br><br><br><br><br><br>


    <!-- ******************************* INDICATE LOCATION AND ORDER NUMBER ************************************** -->

        <h2><%= site %> &#8594; <%= orderdata._id %> </h2>
        <br><br>


    <!-- ******************************* DISPLAY TABLE ************************************** -->

    <table class="table">

        <!-- table headers -->
        <thead>
            <th style="vertical-align: middle">Order Number</th>
            <th style="vertical-align: middle">PO Number</th>
            <th style="vertical-align: middle">Shipping Address</th>
            <th style="vertical-align: middle">Shipping Carrier</th>
            <th style="vertical-align: middle">Date Received</th>
            <th style="vertical-align: middle">Hours Since Printed</th>
            <th style="vertical-align: middle">Date Shipped</th>
            <th style="vertical-align: middle">Date Invoiced</th>
            <th style="vertical-align: middle">Status</th>
            <th style="vertical-align: middle">Month</th>
            <th style="vertical-align: middle">Original Print</th>
        </thead>

        <!-- table content -->
        <tbody id="mainList">
            <tr class="sig-row">
                <td style="vertical-align: middle"><%= orderdata._id %></td>
                <td style="vertical-align: middle"><%= orderdata["PO"] %></td>
                <td style="vertical-align: middle"><%= orderdata["shipTo"] %></td>
                <td style="vertical-align: middle"><%= orderdata["via"] %></td>
                <td style="vertical-align: middle"><%= orderdata["dateReceived"].toUTCString().slice(0, orderdata["dateReceived"].toString().indexOf("GMT")) %></td>
                <td style="vertical-align: middle"><%= Math.round(((new Date() - orderdata["dateReceived"])/36e5)-4) %></td>

                <% if (orderdata["shippedDate"] !== null) {%>
                    <td style="vertical-align: middle"><%= orderdata["shippedDate"].toUTCString().slice(0, orderdata["shippedDate"].toUTCString().indexOf("GMT")) %></td>
                <% } else { %>
                    <td style="vertical-align: middle">NONE</td>
                <% } %>

                <% if (orderdata["invoicedDate"] !== null) {%>
                    <td style="vertical-align: middle"><%= orderdata["invoicedDate"].toUTCString().slice(0, orderdata["invoicedDate"].toString().indexOf("GMT")) %></td>
                <% } else { %>
                    <td style="vertical-align: middle">NONE</td>
                <% } %>

                <td class="stat" style="vertical-align: middle"><%= orderdata["status"] %></td>
                <td style="vertical-align: middle"><%= orderdata["month"] %></td>
                <td style="vertical-align: middle"><%= orderdata["originalPrint"] %></td>
            </tr>
        </tbody>
    </table>
    <br><br><br><br>

    <!-- ******************************* ORDER DETAILS PDF ************************************** -->

    <section>
        <% if((typeof(file) !== 'undefined')) { %>
            <!-- if we're displaying the order pickticket pdf -->
            <% if(file == '404'){ %>
                <embed class="sig-pdf" src="<%= file %>">

            <!-- if we're displaying an error page -->
            <% } else { %> 
                <h1>Oops!</h1> <br>
                <h3>We can't seem to find the page you were looking for. Click <a href="/">here</a> to go back home.</h3>

                <br><br><br><br><br><br>

                <img src="/css/404-icon.svg" alt="">

                <br><br><br><br><br><br>
            <% } %>
        <% } %>

        <br><br><br><br>
    </section>
    </div>
</body>


<!-- ******************************* FOOTER ************************************** -->

<%- include("./partials/footer.ejs") %>


<!-- ******************************* FUNCTIONS TO RETRIEVE DATA ************************************** -->

<script>
    let temp = document.getElementsByClassName("stat");
        let arr = Array.prototype.slice.call( temp );
        arr.forEach((e) => {

            if (e.textContent.toLowerCase().includes("printed")){
                e.classList.add("col-printed");
            } else if (e.textContent.toLowerCase().includes("carlos")) {
                e.classList.add("col-east");
            } else if (e.textContent.toLowerCase().includes("todd")) { 
                e.classList.add("col-west");
            } else if (e.textContent.toLowerCase().includes("parts")){
                e.classList.add("col-parts");
            } else if (e.textContent.toLowerCase().includes("other")) {
                e.classList.add("col-quarantine");
            } else if (e.textContent.toLowerCase().includes("shipped")) {
                e.classList.add("col-shipped");
            } else if (e.textContent.toLowerCase().includes("invoiced")) {
                e.classList.add("col-invoiced");
            }  else if (e.textContent.toLowerCase().includes("archived")) {
                e.classList.add("col-archived");
            } else {
                e.classList.add("col-quarantine");
            }
    });
</script>





